<form action="<%= action %>" method="post">
  <%// if(method == 'put') {%>
    <input type="hidden" name="_method" value="PUT">
  <%// } %>
  <div class="some">
	  <span>Name: </span><input type="text" name="name" value="<%= (product.name != 'undefined') ? product.name : '' %>" />
  </div>
	<br/>

  <div class="some">
	  <span>Description: </span><textarea name="description"><%= (product.description != 'undefined') ? product.description : '' %></textarea>
  </div>
	<br/>

  <div class="some">
	  <span>Price: </span><input type="text" name="price" value="<%= (product.price != 'undefined') ? product.price : '' %>" />
  </div>
	<br/>

	<input type="submit" value="Submit">
</form>
