<h1>Edit Product</h1>

<% include _form %>

<!-- <form action="/products" method="post">
  <div class="some">
	  <span>Name: </span><input type="text" name="name" />
  </div>
	<br/>

  <div class="some">
	  <span>Description: </span><textarea name="description"></textarea>
  </div>
	<br/>

  <div class="some">
	  <span>Price: </span><input type="text" name="price" />
  </div>
	<br/>

	<input type="submit" value="Submit">
</form>
 -->
