<!DOCTYPE html>
<html>
  <head>
    <title><%//= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>layout Indexlayout Indexlayout Indexlayout Index</h1>
    <%- body %>
  </body>
</html>
