<!DOCTYPE html>
<html ng-app='depotApp' ng-controller='ApplicationController' ng-init='initialize()'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js'></script>-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-sanitize.min.js'></script>
    <script src="./javascripts/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="./javascripts/angular/depotApp.js"></script>
    <script src="./javascripts/angular/controllers.js"></script>
    <script src="./javascripts/angular/services.js"></script>
    <script src="./javascripts/angular/directives.js"></script>
    <script src="./javascripts/angular/filters.js"></script>
    <script src="./javascripts/angular/controllers/application_controller.js"></script>

    <script src="./javascripts/application.js"></script>

  </head>
  <body>
    <%- body %>
  </body>
</html>
